<h1>Editing Usuario</h1>
<br/>
<%= render 'form', usuario: @usuario %>
<br/>
<%= link_to 'Visualizar', @usuario, class:"btn btn-dark" %> 
<%= link_to 'Voltar', usuarios_path, class:"btn btn-secondary" %>
